*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
node_modules/

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
/storage/*
!/storage/.keep
db/migrate/20181022151942_create_places.rb
db/migrate/20181022152031_create_categories.rb
db/migrate/20181022152359_create_users.rb
db/migrate/20181022154708_create_events.rb
db/migrate/20181024153647_change_places.rb
db/migrate/20181024164751_modify_users_categories.rb
db/migrate/20181025161941_categ_users.rb
db/development.sqlite3
log/development.log
tmp/cache/assets/sprockets/v3.0/h5/h5ik4t6hjh1nYoJNA00qPrSAh9LuZ0GBrZpaQQ_5gck.cache
tmp/cache/assets/sprockets/v3.0/h5/h5ik4t6hjh1nYoJNA00qPrSAh9LuZ0GBrZpaQQ_5gck.cache
tmp/cache/assets/sprockets/v3.0/kI/kIollIv4TYE3GLnmf2oj-KJmzcuh28IPlb1rQjS2CAY.cache
tmp/cache/assets/sprockets/v3.0/zf/zfqe2XNBhRJt1wS2S0YGzVdTz2g26ZoOAYoLYskfBs4.cache
tmp/cache/assets/sprockets/v3.0/xt/xt2uDSP5VeDHuEn6ZiBff_VzfnBMyojUuAS5PeuhcvA.cache
log/development.log
tmp/cache/assets/sprockets/v3.0/vm/vmboHonhsol-86W1MFnwB4dPspW37nG16VEx5ce8G6I.cache
.DS_Store
